<div class="revise-refill-modal-wrapper" aria-labelledby="dialog-label" id="insuranceStatusModal">
    <span class="ngdialog-start"></span>

    <span class="ngdialog-close"></span>

    <div class="drug-details">
        <p><strong class="drug-name">Fill All Billing Information</p>
    </div>

    </br>
    <div class="dialog-button-group">

        <button id="modal-import-button" class="secondary-button"  ng-click="closeThisDialog(0)"
                ng-focus="toggleTabIndexWithinModal($event)">Close
        </button>
    </div>


    <span class="ngdialog-end"></span>
</div>


