<div ng-class="{'app-filter-open': isFilterOpen}">
    <div ng-if="!searchedPatient">
        <date-picker view-date="startDate" on-change="getAppointmentsForDate"></date-picker>
    </div>
    <p class="app-patient-search">
        <a ng-click="goBackToPreviousView()" ng-show="searchedPatient">{{::'RESET_KEY' | translate}} {{::'PATIENT_LIST_VIEW_SEARCH_HEADER' | translate}}</a>
        <patient-search on-search="displaySearchedPatient"></patient-search>
    </p>
    <div class="app-list-view">
        <p class="no-app-avab-list-view" ng-show="hasNoAppointments()">{{::'NO_APPOINTMENT_LIST_VIEW' | translate}}</p>
        <table ng-show="!hasNoAppointments()">
            <thead>
            <tr>
                <th ng-class="{'table-mid-width': info.class}" ng-show="::info.enable" ng-repeat="info in ::tableInfo" ng-click="::info.sortInfo && sortAppointmentsBy(info.sortInfo)">
                    {{ ::info.heading | translate }}
                    <span ng-if="sortColumn == info.sortInfo || info.sortInfo == 'additionalInfo' && sortColumn == 'additionalInformation'">
                        <i class="fa fa-caret-up" ng-show="reverseSort"></i>
                        <i class="fa fa-caret-down" ng-show="!reverseSort"></i>
                </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="appointment in filteredAppointments" ng-click="select(appointment)" ng-class="{'selected' : isSelected(appointment)}">
                <td>{{::appointment.patient.identifier}}</td>
                <td class="table-mid-width">{{::appointment.patient.name | titleCase}}</td>
                <td>{{::appointment.startDateTime | bahmniDate}}</td>
                <td>{{::appointment.startDateTime | bahmniTime}}</td>
                <td>{{::appointment.endDateTime | bahmniTime}}</td>
                <td ng-show="::enableSpecialities">{{::appointment.service.speciality.name}}</td>
                <td class="table-mid-width">{{::appointment.service.name}}</td>
                <td>{{appointment.status}}</td>
                <td>{{::appointment.comments}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
