<div align="center"  >
	<font size="4.5" face="Courier New" color="#0000" >
	<div align="center">
		<strong>Jamhuri ya Muungano wa Tanzania</strong>

	</div>
	<img src="./../images/tanzania-logo.png" height="80px"/>

	<h4>Wizara ya Afya, Maendeleo ya Jamii, Jinsia, Wazee na Watoto</h4>
	<h4>Mpango wa Taifa wa Kudhibiti UKIMWI</h4>

	<h3>FOMU YA RUFAA</h3>

</div>
<div>
	<h4>DATE:<u><span ng-bind="CurrentDate | date:'dd/MM/yyyy'"></span></u></h4>

<table width="100%">
	<tr><td>Kwenda(Jina la Kituo):<u>{{hospital_name}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Anuani:<u>{{address}},{{address2}}</u>&nbsp;Simu:<u>{{patient.mobileNumber.value}}</u></td></tr>
	<tr></tr>
	<tr></tr>
    <tr><td>Namba ya Mteja:<u>{{patient.identifier}}</u>&nbsp;Jinsia:<u>{{gender}}</u> Umri:<u>{{patient.age}} </u> </td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Hali ya Ndoa:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> &nbsp;&nbsp;Kazi:<u> {{patient.occupation.value.display}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Sababu ya Rufa:<u>{{remarks}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Huduma alizopewa:<u>{{diagnos}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Taarifa za kipekee(Mfano;allergy):<u>{{clinical_notes}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Jina(Anaetoa Huduma):<u>{{docFullName}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Cheo:<u>{{title}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Jina la Kituo:<u>{{hospitalName}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Simu:<u>{{PhoneNumber}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Sahihi:<u> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</u></td></tr>
</table>
		<strong>.............................................................................................................................................................................</strong><br/>
		<h3>FOMU YA RUFAA</h3><h5>(Tafadhali rejesha kipande hiki kwenye kituo kilichokupatia)</h5>
<table>
	<tr><td>Kwenda (Jina la Kituo)<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Namba ya Mteja:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>Jinsia:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> Umri:<u>&nbsp;&nbsp;&nbsp;</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Huduma Iliyotolewa:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Tarehe Huduma iliyotolewa:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Jina(Aliyetoa Huduma):<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Cheo:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Jina la Kituo:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Simu:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Sahihi:<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></td></tr>

</table>
	</font>
</div>