<div class="revise-refill-modal-wrapper" aria-labelledby="dialog-label">
    <h6>{{'NOTIFICATION_SUMMARY_KEY' | translate}}</h6>
    <div class="concept-set-container">

        <div class="drug-details" ng-if="stockAvaibilityStatus">
            <p><strong class="drug-name">{{enrollment}}</strong> is not available on stock right now.</p>
        </div>
        <div class="drug-details" ng-if="stockAvaibilityStatus">
            <p><strong class="drug-name">{{enrollment}}</strong> is not available on stock right now.</p>
        </div>

        <div class="dialog-button-group" ng-if="stockAvaibilityStatus">
            <button id="modal-revise-button" class="secondary-button" ng-click="drugStockAvaibilityCancel()"
                    ng-focus="toggleTabIndexWithinModal($event)">Dismiss
            </button>
        </div>


    </div>
</div>
